* {
  font-family: Calibri, Helvetica, sans-serif;
}

.dis {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0 150px; 
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: #4c75af;
  color: white;
  padding: 6px 0px;
  margin: auto;
  display: block;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity: 1;
}

.input {
  height: 30px;
  margin-bottom: 5px;
}

.container {
  padding: 50px;
  background-image: linear-gradient(
  to right,
  #0e0430,
  #0f0826
);
}

.label {
  color: #fcc953;
  font-size: 20px;
  font-weight: bold;
}



