*{
  font-family: Calibri, Helvetica, sans-serif;  
}  
.container {  
  padding: 50px;  
  background-image: linear-gradient(to right, rgb(229, 255, 0) , rgba(255, 255, 0, 0.225));
}  
.dis{
  display: grid;
  grid-template-columns: auto auto;
  padding: 0 150px;
}
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  
  background-color: #4CAF50;  
  color: white;  
  padding: 12px 0px;  
   
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}  
.registerbtn:hover {  
  opacity: 1;  
}
.input{
  height:30px; 
  margin-bottom:5px
}  
.label{
  font-size:20px; 
  font-weight:bold
}

 