<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'common-disease.css' %}">
    <!-- <style>
        .container {
            padding: 50px;
            background-image: linear-gradient(
            to right,
            #0e0430,
            #0f0826
        );
            /* background-image: url('/static/images/hero.png'); */
        }

        .label {
            color: #fc535a;
            font-size: 20px;
            font-weight: bold;
        } -->
    </style>
</head>
<body>
    <form action="{% url 'result4' %}" method="post">
        {% csrf_token %}
        <div class="container">
            <h1>
                <center style="color:white;">Brain Stroke Disease Prediction</center>
            </h1>
            <hr>
            <div class="dis">
                <label class="label"> Gender </label>
                <input class="input" type="number" step="any" name="gender" placeholder="" />
                <label class="label">Age</label>
                <input class="input" type="number" name="age" placeholder="" />
                <label class="label"> Hypertension </label>
                <input class="input" type="number" step="0.01" name="hypertension" placeholder="" />
                <label class="label">Heart Problem</label>
                <input class="input" type="number" step="any" name="heart_disease" placeholder="" />
                <label class="label">married</label>
                <input class="input" type="number" name="married" placeholder="" />
                <label class="label">work type </label>
                <input class="input" type="number" name="work_type" placeholder="" />
                <label class="label">Residence</label>
                <input class="input" type="number" name="residence_type" placeholder="" />
                <label class="label"> Glucose </label>
                <input class="input " type="number" name="avg_glucose_level" placeholder="" />
                <label class="label"> BMI </label>
                <input class="input" type="number" step="any" name="bmi" placeholder="" />
                <label class="label">smoking_status</label>
                <input class="input" type="number" name="smoking_status" placeholder="" />
            </div>
            <br><br>

            <!-- <button type="submit" class="registerbtn">Submit</button> -->
            <input type="submit" value="submit" class="registerbtn">
    </form>
    <br><br>
</body>
</html>

