{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- Introductin -->
<div class="container my-5 " id="btp">
  <div class="row">

    <div class="col-md-5 pt-lg-5">
      <div class="">
        <h2>Explore the possibilities of combination of <br><span style="color:#fb9075" text-align="center">AI, ML, and
            NN</span> </h2>
        <br>
        <p> A robust machine learning model that can efficiently predict the disease of a human, based on the symptoms
          that he/she posses. Let us look into how we can approach this machine learning problem</p>
        <button type="button" class="btn btn-warning bg-gradient" style="padding:10px 80px;">Info</button>
      </div>

    </div>
    <div class="col-md-7">

      <img src="{% static 'images/artificial-intelligence.png' %}" width="650px" style="margin-left:0px" alt="">
    </div>
  </div>
</div>


<!-- quotation -->
<div class="container ">
  <blockquote class="blockquote text-center">
    <p class="mb-0 fs-2 font-monospace badge bg-primary text-wrap">Predicting The Future Isn't Magic, It's Artificial
      Intelligene</p><br><br>
    <footer class="blockquote-footer">Dave Waters</footer>
  </blockquote>
</div>

<!-- User Selection -->
<section id="disease-select" class="form-floating container ">
  <div class="row">
    <div class="col-md-6">
      <label for="">
        <h3 class="p-3 mr-5 bg-danger text-white" style="--bs-bg-opacity: .6;">Medical Diagnosis</h3>
      </label>
      <br><br>
      <!-- <select class="form-select">
                        <option value="diabetes"> <a href="{% url 'diabetes' %}">Diabetes</a></option>
                        <option value="heart-disease"> <a href="{% url 'heart-disease' %}">Heart Disease</a></option>
                        <option value="perkinson">Perkinson</option>
                    </select> -->

      <ul class="txt_dec">
        <li class="fs-3"><a class="text-decoration-none" href="{% url 'diabetes' %}">Diabetes</a></li>
        <li class="fs-3"><a class="text-decoration-none" href="{% url 'heart-disease' %}">Heart Disease</a></li>
        <li class="fs-3"><a class="text-decoration-none" href="{% url 'parkinson' %}">Parkinson</a></li>
        <li class="fs-3"><a class="text-decoration-none" href="{% url 'brain-stroke' %}">Brain Stroke</a></li>
        <li class="fs-3"><a class="text-decoration-none" href="{% url 'lung-cancer' %}">Lung Cancer</a></li>
      </ul>


    </div>

    <div class="col-md-6">
    </div>
  </div>
</section>

<br><br><br>

{% endblock content %}